<!doctype html>
<html lang="en">
<head>
	<title>Lime-o-Licious</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/static/print.css" media="print" />
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

	<header>
		<h1>Sprinkler Studio</h1>
	</header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/sprinklers">Sprinklers</a></li>
			<li><a href="/weather">Weather</a></li>
			<li><a href="/schedule">Schedule</a></li>
			<li><a href="/setup">Setup</a></li>
		</ul>
	</nav>